
@{
    ViewData["Title"] = "Lista de Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" container">
    <div class="row">
        <div class="col-6">

            <h2>Lista de Autor</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-success" asp-action="Create"> Crear Nuevo Autor</a>
        </div>

    </div>

    <br />
    <br />

    <div class="p-2">

        <table class="table table-bordered table-striped" id="tbAutors">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Sexo</td>
                    <td>Edad</td>
                    <td>Libro</td>
                    <td>Fecha De Nacimiento</td>
                    <td>Options</td>

                </tr>
            </thead>
        </table>

    </div>

</div>
@section Scripts{
    <script src="~/js/Autors.js"></script>

}