@model LibrosWeb.Models.Categoria
@{
    ViewData["Title"] = "Editar categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class=" text-primary"> Editar  Categoria</h2>
        </div>

    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-sm-12">
            <form method="post" asp-action="Update">

                <input type="hidden" asp-for="CategoriaID" />
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Nombre"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-8">
                        <input asp-for="FechaCreacion" id="fechaCreacion" type="text" class="form-control" />
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col">
                        <button type="submit" class="btn btn-primary form-control">Crear Categoria</button>
                    </div>
                    <div class="col">
                        <a asp-action="Index">Volvel</a>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>
@section Scripts{

    <script>
    $(function () {
        $("#fechaCreacion").datepicker({
            changeMonth: false,
            changeYear: false,
             changeRange: "1500:2022",
               dateFormat:"yy-mm-dd"

        }).datepicker("setDate", new Date())
    });

    </script>
}