
@{
    ViewData["Title"] = "Lista de categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" container">
    <div class="row">
        <div class="col-6">

            <h2>Lista de categoria</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-success" asp-action="Create"> Crear Neva Categoria</a>
        </div>

    </div>

    <br />
    <br />

    <div class="p-2">

        <table class="table table-bordered table-striped" id="tblCategorias">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>FechaCreacion</td>
                </tr>
            </thead>
        </table>

    </div>

</div>
@section Scripts{ 
    <script src="~/js/Categorias.js"></script>

}